{% extends "layout_base.html" %} {% block title %}Acesso Negado - HelpHub 4.0{%
endblock %} {% block content %}
<div class="error-viewport error-403-page">
  <div class="error-scene">
    <div class="error-glass-card">
      <h1 class="error-huge-text warning-403">Erro 403</h1>

      <div class="error-info">
        <h2 class="error-main-title">Acesso Negado</h2>
        <p class="error-sub-text">
          Você não possui as permissões necessárias para acessar esta área.<br />
          Se você acredita que isso é um erro, entre em contato com o
          <strong>administrador do sistema</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
