{% extends "layout_base.html" %} {% block title %}Página não encontrada -
HelpHub 4.0{% endblock %} {% block content %}
<div class="error-viewport error-404-page">
  <div class="error-scene">
    <div class="error-glass-card">
      <h1 class="error-huge-text">Erro 404</h1>

      <div class="error-info">
        <h2 class="error-main-title">Endereço Indisponível</h2>
        <p class="error-sub-text">
          O conteúdo que você procura não foi encontrado ou não existe mais.
          <br />
          Verifique se o <strong>endereço digitado</strong> está correto.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
